Complete the form to change your password<br/><br/>
<%= form_tag :action => 'change_password'  %> 
<label> Enter your old password:</label> 
<%= password_field_tag 'password[old_password]', nil %><p> 

<label> Enter your new password:</label> 
<%= password_field_tag 'password[new_password]', nil %><p> 

<label> Confirm your new password:</label> 
<%= password_field_tag 'password[new_password_confirmation]', nil %><p> 
<%= button_to "Change Password",'/change_password', {:method=>:post}%>
