
 <div class="field">


<%=image_tag @puppy_is_available? "/images/puppy.jpg":"/images/nopuppy.jpg" %>

   <div><%=@puppy_status%></div>
   <div class="comment_box"><div>Comments:</div>
    <%if @can_take_puppy%>
      <%=form_for @puppy,:url=>{:action=>"take"},  do |f|%>
       <%=f.text_area :comments,:size => "50x5"  %>
       <div><%= f.submit 'Take the puppy'%></div>
      <%end%>
    <% else%> 
      <%=@puppy.comments%>
    <%end%>
  </div>
    <%if @can_leave_puppy%> 
      <%= button_to 'Leave the puppy','/puppy/leave' %> 
    <%end %>

  
</div>
