
 <div class="field">


<%=image_tag @can_take_puppy? "/images/puppy.jpg":"/images/nopuppy.jpg" %>

   <div><%=@puppy_status%></div>
   <div>Comments</div>
    <%if @can_take_puppy%>
      <%=form_for @puppy,:url=>{:action=>"take"},  do |f|%>
       <%=f.text_field :comments %>
        <%= f.submit 'Take the puppy'%>     
      <%end%>
    <% else%> 
      <div><%=@puppy.comments%></div> 
    <%end%>
    <%if @can_leave_puppy%> 
      <%= button_to 'Leave the puppy','/puppy/leave' %> 
    <%end %>

  
</div>
