<!DOCTYPE html>
<html>
<head>
  <title>Pass the Puppy</title>
   <%= stylesheet_link_tag    "/extjs/resources/css/ext-all.css" %>
    <%= javascript_include_tag    "/extjs/ext-base-debug.js" %>
   <%= javascript_include_tag    "/extjs/ext-all-debug.js" %>
  <%= stylesheet_link_tag "application" %>
 <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
 <div id="container">
  <div class="user_area">
  <% if current_user%> 
    Hello <%=current_user.email%> <%=link_to 'Log out','/logout'%>
  <%else%>
    Guest <%=link_to 'Log in','/login'%>  <%=link_to 'Register','/users/new'%>
  <%end %>
  <%=link_to 'Home','/'%>
  </div>
   <div id="main_content">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
   </div>
  </div>
</body>
</html>
