<!DOCTYPE html>
%html
  %head
    %title Pass the Puppy
    = stylesheet_link_tag "application" 
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{:class =>"#{params[:controller]}"}
    #container
      .header
        .user_area
          - if current_user
            Hello 
            =current_user.email
            =link_to 'Log out',destroy_user_session_path,:method=> :delete
            =link_to 'Change Password',new_user_password_path
          - else
            Guest 
            =link_to 'Log in',new_user_session_path
            =link_to 'Register',new_user_registration_path
        .banner Pass The Puppy
      #main_content
        =link_to 'Return to Puppy List','/' unless @puppylist
        %br
        %br
        - flash[:error]= @errors.full_messages.to_sentence unless (!@errors || @errors.empty?)
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" 
        = yield 
