<!DOCTYPE html>
<html>
<head>
  <title>Pass the Puppy</title>
  <%= stylesheet_link_tag "application" %>
 <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
 <div id="container">
 <div class="header"><div class="user_area">
<% if current_user%> 
    Hello <%=current_user.email%> <%=link_to 'Log out','/logout'%> <%=link_to 'Change Password','/change_password'%>

  <%else%>
    Guest <%=link_to 'Log in','/login'%>  <%=link_to 'Register','/users/new'%>
  <%end %>
  </div>
  <div class="banner"> Pass The Puppy</div>
</div>
 <div id="main_content">
 <%=link_to 'Return to Puppy List','/'unless @puppylist%><br/><br/>

  <% flash[:error]= @errors.full_messages.to_sentence unless (!@errors || @errors.empty?)%>
   <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
   <%= yield %>
   </div>
</div>

  </div>
</body>
</html>
