<!DOCTYPE html>
<html>
<head>
  <title>Pass the Puppy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
<% if current_user%> 
<div>Hello <%=current_user.email%> <%=link_to 'Log out','/logout'%></div>

<%else%>
 <div>Not Logged in <%=link_to 'Log in','/login'%></div>
 
<%end%>
 <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
